@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
@import "./Layout.module.css";
@import "./Home.module.css";
@import "./gallery.module.css";
@import "./artists.module.css";
@import "./contact.module.css";

body {
  margin: 0;
  background-color: #000000;
}

.main-wrapper {
  min-height: 100px;
  scrollbar-color: #f80000;
}
.divider {
  border: 1px solid #e3e3e3;
  margin: -8px;
  width: 25%;
}

.arrow-right,
.arrow-left,
.long-arrow-right,
.long-arrow-left {
  display: block;
  cursor: pointer;
  margin: 30px auto;
  width: 16px;
  height: 16px;
  border-top: 2px solid rgb(255, 00, 00);
  border-left: 2px solid rgb(255, 00, 00);
}
.arrow-right:hover::after,
.arrow-left:hover::after,
.long-arrow-right:hover::after,
.long-arrow-left:hover::after {
  content: "";
  display: block;
  width: 2px;
  height: 45px;
  background-color: rgb(255, 0, 0);
  transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
}

.arrow-right,
.long-arrow-right {
  transform: rotate(135deg);
}

.arrow-left,
.long-arrow-left {
  transform: rotate(-45deg);
}
.long-arrow-right::after,
.long-arrow-left::after {
  content: "";
  display: block;
  width: 2px;
  height: 45px;
  background-color: rgb(255, 0, 0);
  transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
}
.arrow {
  border: solid #f80000;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 16px;
  position: relative;
  bottom: -150px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.title {
  margin-bottom: 2em;
}
.side {
  width: 400px;
}
.iamgeSide {
  position: relative;
  padding: 2%;
}
.textSide {
  position: relative;
  padding: 2%;
  border: #f80000 1px solid;
}

.button {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  border: 1px solid #f80000;
  background-color: #120000;
  padding: 16px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 70ms ease-out 5ms;
}
.button2 {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  border: 1px solid #f80000;
  background-color: #120000;
  padding: 16px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  max-width: max-content;
  transition: background-color 70ms ease-out 5ms;
}
.button2:hover,
.button:hover {
  background-color: #f80000;
}
.upperHeading {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 2rem;
  margin-bottom: -30px;
  color: #fff;
}
.heading {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin: 2rem 0;
  color: #f80000;
}
.heading::after {
  content: "";
  border-bottom: #fff 1px solid;
  width: 40px;
  display: block;
  margin: 0 auto;
}
.subHeading {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin-top: -30px;
  margin-bottom: 2rem;
  color: #fff;
}
.container {
  padding: 1rem 0px;
}
p {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

.icon {
  position: relative;
  padding: 12px;
  margin: 10px;
  /* width: 12px;
  height: 12px; */
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.icon:hover {
  transform: scale(1.5);
}

@media (max-width: 540px) {
  .upperHeading,
  .subHeading {
    font-size: 12px;
  }
  .heading {
    font-size: 26px;
  }
}
