@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap"); */
@import "./Layout.module.css";
@import "./Home.module.css";
@import "./gallery.module.css";
@import "./artists.module.css";
@import "./artistDetails.module.css";
@import "./contact.module.css";
@import "./acordeon.module.css";
@import "./modal.module.css";
@import "./404.module.css";
/*  */
:root{
  --principal-color: #f6c200;
  --black: #000000;
}
.socialLink{
  -webkit-filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
  filter: grayscale(200%) brightness(240%) sepia(100%) hue-rotate(5deg) saturate(500%) contrast(1);
}
body {
  margin: 0;
  background-color: var(--black);
  background-image: url("/media/dust-overlay-2.png");
}

.main-wrapper {
  min-height: 100px;
  display: flex;
  scrollbar-color: var(--principal-color);
  flex-flow: column;
  gap: 3rem;
  
}
.divider {
  border: 1px solid #e3e3e3;
  margin: -8px;
  width: 25%;
}

.arrow-right,
.arrow-left,
.long-arrow-right,
.long-arrow-left {
  display: block;
  cursor: pointer;
  margin: 30px auto;
  width: 16px;
  height: 16px;
  border-top: 2px solid var(--principal-color);
  border-left: 2px solid var(--principal-color);
}
.arrow-right:hover::after,
.arrow-left:hover::after,
.long-arrow-right:hover::after,
.long-arrow-left:hover::after {
  content: "";
  display: block;
  width: 2px;
  height: 45px;
  background-color: var(--principal-color);
  transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
}

.arrow-right,
.long-arrow-right {
  transform: rotate(135deg);
}

.arrow-left,
.long-arrow-left {
  transform: rotate(-45deg);
}
.long-arrow-right::after,
.long-arrow-left::after {
  content: "";
  display: block;
  width: 2px;
  height: 45px;
  background-color: var(--principal-color);
  transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
}
.arrow {
  border: solid var(--principal-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 16px;
  position: relative;
  bottom: -150px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.title {
  margin-bottom: 2em;
}
.side {
  width: 400px;
}
.iamgeSide {
  position: relative;
  padding: 2%;
}
.textSide {
  position: relative;
  padding: 2%;
  border-radius: 12px;
  /* border: var(--principal-color) 1px solid; */
  background: #00000094;
}

.button {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  border: 1px solid var(--principal-color);
  background-color: var(--black);
  padding: 16px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 70ms ease-out 5ms;
}
.button2 {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  border: 1px solid var(--principal-color);
  background-color: var(--black);
  padding: 16px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  max-width: -moz-max-content;
  max-width: max-content;
  transition: background-color 70ms ease-out 5ms;
  margin: 1.5em 0px;
}
.button2:hover,
.button:hover {
  background-color: var(--principal-color);
  color: black;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}
.upperHeading {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 2rem;
  margin-bottom: -30px;
  color: #fff;
}
.heading {
  font-family: "Athina", sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
  margin: 2rem 0;
  color: var(--principal-color);
  text-shadow: 12px 5px 12px #000;
}
.heading::after {
  content: "";
  border-bottom: #fff 1px solid;
  width: 40px;
  display: block;
  margin: 0 auto;
}
.subHeading {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin-top: -22px;
  margin-bottom: 2rem;
  color: #fff;
}
.container {
  margin: 3rem 0px;
}
.container-page {
  padding: 4rem 0px;
}
p {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

.icon {
  position: relative;
  padding: 12px;
  margin: 10px;
  /* width: 12px;
  height: 12px; */
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.icon:hover {
  transform: scale(1.5);
}
.sponsorsContainer{
  display: grid;
  grid-template-columns: repeat(2, 0.23fr);
  grid-gap: 2rem;
  grid-gap: 5rem;
  gap: 5rem;
  background: #00000094;
  padding: 2rem;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  max-width: 645px;
  width: 100%;
}
.sponsorsContainer a {
    justify-self: center;
}
.sponsorsContainer a img{
  width: 200px;

}
@media (max-width: 765px){
  .sponsorsContainer {
      grid-template-columns: repeat(1, 1fr);
      width: 300px;
  }
}
@media (max-width: 540px) {
  .upperHeading,
  .subHeading {
    font-size: 12px;
  }
  .heading {
    font-size: 26px;
  }
}
@media (max-width: 430px) {
  .side {
    width: 270px;
    height: 240px;
  }
  .contactActions .button2 {
    margin: 0.5em 0px;
  }
  .contactDescription{
    font-size: 12px;
  }
}