.HomeImage {
    /* background: url('/media/hero-logo.png'); */
    filter: drop-shadow(14px 13px 21px #000);
}

.BigImage {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    max-height: 752px;
    /* margin-top: 4em; */
    /* background-size: contain; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
}
@media (max-width: 375px) {
    .BigImage {
        height: 54vh;
    }
  }
.homeTitleSectionButtonGroup {
    display: flex;
    flex-flow: row nowrap;
    grid-gap: 12px;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.homeTitleSectionButtonGroup .button2 {
    margin: 0px 0px 1rem 0px;
}

.BigImage img {
    width: 100%;
    max-width: 1220px;
}

.homeSection {
    width: 100%;
    min-height: 600px;
}

.sectionTitle {
    width: 100%;
    height: 100%;
    /* background: #1200008f; */
    max-width: 300px;
    max-height: 150px;
    /* border: 1px #F40000 solid; */
    font-family: "Kanit", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featuredArtContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}