/* Navbar */
.hidden {
  display: none;
}
.header {
  /* background: var(--black); */
  background: #00000024;
  list-style: none;
  text-decoration: none;
  position: fixed;
  top: 0;
  z-index: 100000;
  width: 100%;
}
.header .navbar {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: auto;
  align-items: center;
  justify-content: space-between;
  max-width: 111rem;
  padding: 0rem 2rem 0em 1em;
}
.header .navbar .brand {
  margin-top: 0.5em;
  text-transform: uppercase;
  color: #252a32;
  text-decoration: none;
  margin-right: 26px;
}
.header .navbar .brand h1 {
  font-weight: 400;
  line-height: inherit;
}
.header .navbar .menu {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.header .navbar .menu-item:not(:first-child) {
  margin-left: 2rem;
}
.header .navbar .menu-item a {
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: inherit;
  color: var(--principal-color);
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px;
  border-radius: 2%;
  transition: background-color 70ms ease-out 5ms;
}
.header .navbar .active a {
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
  font-size: 20px;
  font-weight: 400;
  line-height: inherit;
  background-color: var(--principal-color);
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px;
  border-radius: 2%;
  margin-left: 2em;
  transition: background-color 70ms ease-out 5ms;
}
.header .navbar .menu-item a:hover {
  content: "";
  background-color: var(--principal-color);
  color: #000;
  /* display: block; */
}
/* Social Icons */
.social-Icons-Wrapper {
  z-index: 100000;
  position: fixed;
  bottom: 2em;
  /* background-color: #120000; */
}
.social-Icons-Wrapper .icon {
  padding: 20px;
  margin: 1em;
}

/* Footer */
.footer {
	width: 100%;
	display: block;
  background-color: var(--black);
 }

.inner-footer {
  border-top: 1px #ffffff solid;
  width: 90%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
 }

.footer-items {
	width: 50%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items .button2 {
  font-size: small;
  font-weight: 500;
  padding: 8px;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h2 {
	color: #fff;
}

.footer-items p {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h2 {
	color: #fff;
}
.footer-items h2,
.footer-items h3 {
	font-family: "Athina", sans-serif;
  letter-spacing: 10px;
}

.footer div {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

.footer div a {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

.footer ul a:hover {
	color: var(--principal-color);
}



.footer li i {
	margin-right: 20px;
}

.footer-bottom {
	padding: 10px;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}
/*......Footer...............*/

@keyframes grow {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .header .navbar .menu-item a:hover {
    border-bottom: 0;
    display: inline;
    background-color: #000;
    color: var(--principal-color);
  }
  .header .navbar .active a{
   margin-left: 0;
  }
  .header .navbar .navbar-wrapper {
    position: fixed;
    top: 40%;
    left: 70%;
    width: 100%;
    height: 11em;
    z-index: -1;
    display: none;
    background: #000;
  }
  .header .navbar .navbar-wrapper .menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
  }
  .header .navbar .navbar-wrapper .menu-item {
    padding-bottom: 1rem;
    width: 100%;
    text-align: left;
  }
  .header .navbar .navbar-wrapper .active {
    padding-bottom: 1rem;
    width: 100%;
    text-align: left;
  }
  .header .navbar .navbar-wrapper .menu-item:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .header .navbar .navbar-wrapper .menu-item:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .header .navbar .navbar-wrapper .menu-item:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .header .navbar .navbar-wrapper .menu-item:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .header .navbar .navbar-wrapper .menu-item:not(:first-child) {
    margin-left: 0;
  }
  .header .navbar .navbar-wrapper .menu-item a {
    padding: 1rem 0rem;
    opacity: 0;
    color: var(--principal-color);
    font-size: 1rem;
    font-weight: 600;
    transform: translateX(-20px);
    animation: grow 0.3s ease-in-out;
  }
  .header .navbar .nav-toggle {
    display: block;
    position: fixed;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    z-index: 999;
  }
  .header .navbar .nav-toggle span {
    display: block;
    width: 20px;
    height: 2px;
    background: var(--principal-color);
    border-radius: 2px;
    margin-left: 14px;
  }
  .header .navbar .nav-toggle span:nth-child(1) {
    margin-top: 16px;
  }
  .header .navbar .nav-toggle span:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .header .navbar .nav-toggle span:nth-child(3) {
    margin-top: 4px;
  }
  .header .navbar #nav:checked + .nav-toggle {
    transform: rotate(45deg);
  }
  .header .navbar #nav:checked + .nav-toggle span {
    background: var(--principal-color);
    transition: transform 0.5s ease;
  }
  .header .navbar #nav:checked + .nav-toggle span:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
  }
  .header .navbar #nav:checked + .nav-toggle span:nth-child(2) {
    opacity: 0;
  }
  .header .navbar #nav:checked + .nav-toggle span:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
  }
  .header .navbar #nav:checked ~ .navbar-wrapper {
    z-index: 99;
    display: inline;
    border: 0.5pxvar(--principal-color) solid;
    animation: grow 0.3s ease-in-out;
  }
  .header .navbar #nav:checked ~ .navbar-wrapper .menu-item a {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (max-width: 699px) {
  .footer {
    margin-bottom: 4em;
  }
  .social-Icons-Wrapper {
    z-index: 100000;
    position: fixed;
    bottom: 0em;
    display: flex;
    background: #000;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 580px) {
  .header .navbar .navbar-wrapper {
    left: 64%;
  }
}
@media (max-width: 500px) {
  .header .navbar .navbar-wrapper {
    left: 50%;
  }
}
@media (max-width: 400px) {
  .social-Icons-Wrapper {
    bottom: 0em;
  }
}
@media (max-width: 360px) {
  .header .navbar .navbar-wrapper {
    left: 45%;
  }
}
